human-detection/output
examples/results
predict/models
PoseFlow/__pycache__
PoseFlow/*.npy
PoseFlow/alpha-pose-results-test.json
PoseFlow/alpha-pose-results-val.json
PoseFlow/test-predict
PoseFlow/val-predict
images
models

*.npy
*.so
*.pyc
.ipynb_checkpoints
*/.ipynb_checkpoints/*
