human_detection/output
examples/results
examples/res
PoseFlow/__pycache__
PoseFlow/*.npy
PoseFlow/alpha-pose-results-test.json
PoseFlow/alpha-pose-results-val.json
PoseFlow/test-predict
PoseFlow/val-predict
ssd/examples

*.npy
*.so
*.pyc
.ipynb_checkpoints
*/.ipynb_checkpoints/

*.pth
*.json
*.h5
*.zip
*.weights

coco-minival/
