human_detection/output
examples/results
examples/res
PoseFlow/__pycache__
PoseFlow/*.npy
PoseFlow/alpha-pose-results-test.json
PoseFlow/alpha-pose-results-val.json
PoseFlow/test-predict
PoseFlow/val-predict
train_sppe/coco-minival500_images.txt
train_sppe/person_keypoints_val2014.json

ssd/examples
images

*.npy
*.so
*.pyc
.ipynb_checkpoints
*/.ipynb_checkpoints/
*/.tensorboard/*
*/exp

*.pth
*.h5
*.zip
*.weights

coco-minival/
